<tbody>
<tr *ngIf="productInput">
  <td>{{ productInput.id }}</td>
  <td>{{ productInput.name }}</td>
  <td>{{ productInput.price }}</td>
  <td>{{ productInput.quantity }}</td>
  <td><span class="fa text-danger"  [ngClass]="productInput.selected? 'fa-heart': 'fa-square-o'"></span></td>
  <td><span class="fa text-success" [ngClass]="productInput.available? 'fa-check-square-o': 'fa-square-o'"></span></td>
  <td>
    <button (click)="onSelect(productInput)" [ngClass]="productInput.selected ? 'btn btn-sm btn-success': 'btn btn-sm btn-danger'">
      <span *ngIf="productInput.selected">Unselected</span>
      <span *ngIf="!productInput.selected">Selected</span>
    </button>
  </td>
  <td>
    <button class="btn btn-sm btn-danger" (click)="onDelete(productInput)"><i class="fa fa-trash"></i></button>
  </td>
  <td>
    <button class="btn btn-sm btn-warning" (click)="onEdit(productInput)"><i class="fa fa-pencil"></i></button>
  </td>
</tr>
</tbody>
